* {
	margin: 0;
}

body {
	font-family: 'Noto Sans TC', sans-serif;
}

.h-100 {
	height: 100%;
}

.h-75 {
	height: 75%;
}

.h-60 {
	height: 60%;
}

/* header--------------------------------- */
#header {
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	/* background: rgb(138, 232, 237); */
	z-index: 1;
}

/* 左邊-logo */

#header .icon1 {
	width: 36px;
	/* border: 1px solid #f00; */
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translate(0, -50%);
	text-align: center;
}

#header .icon1 i {
	box-sizing: border-box;
	font-size: 1.3rem;
	line-height: 36px;
	color: #111;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#header .icon1:hover {
	width: 40px;
	background: #f2f2f2;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translate(0, -50%);
	text-align: center;
}

#header .logo {
	width: 120px;
	/* border: 1px solid #f00; */
	position: absolute;
	top: 50%;
	left: calc(1% + 56px);
	transform: translate(0, -50%);
}

#header .logo img {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -60%);
	cursor: pointer;
}

/* 中間-搜尋 */

#header .search {
	box-sizing: border-box;
	border-radius: 45px;
	border: 1px solid #ccc;
	/* position: relative; */
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#header input {
	box-sizing: border-box;
	height: 100%;
	width: 90%;
	font-size: 1.1rem;
	position: absolute;
	border: 0px;
	left: 15px;
}

#header input:focus {
	box-sizing: border-box;
	width: 94.5%;
	height: 36px;
	border: 0px;
	border-radius: 45px 0 0 45px;
	/* 無法更改粗細顏色? appearance也不能 */
	/* border: 1px solid #2f81ff; */
	/* border: 1px solid red; */
	outline: 1px solid #2f81ff;
	position: absolute;
	top: 50%;
	left: -5%;
	transform: translate(0, -50%);
	padding-left: 42px;
	z-index: 1;
}

#header label i {
	font-size: 0;
}

#header input:focus + label i {
	position: absolute;
	top: 50%;
	left: -15px;
	transform: translate(0, -50%);
	font-size: 1rem;
	z-index: 2;
}

input[type='search']::-webkit-search-cancel-button {
	appearance: none;
}

/* 它沒有偽類，故用JS設定 */
/* input[type='search']::-webkit-search-cancel-button:hover::before {
	width: 36px;
	height: 36px;
	background: #f8f8f8;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	z-index: 2;
} */

.cancelBtn {
	width: 36px;
	height: 50px;
	font-size: 1.5rem;
	/* 這個無效 */
	/* font-stretch: extra-expanded; */
	font-weight: 100;

	position: absolute;
	top: 50%;
	right: 8%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}

.cancelBtn:hover::before {
	content: 'X';
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background: #f8f8f8;
	border-radius: 50%;
	top: 50%;
	right: 4%;
	transform: translate(0, -50%);
	position: absolute;
	z-index: 1;
}

#header .search-R {
	box-sizing: border-box;
	width: 60px;
	border-radius: 0 45px 45px 0;
	/* border: 1px solid #ccc; */
	background: #f8f8f8 80%;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #000;
	cursor: pointer;
}

#header .search-R::before {
	content: '';
	height: 100%;
	border-left: 1px solid #ccc;
	position: absolute;
}

#header .search-R:hover::after {
	content: '搜尋';
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 0.75rem;
	position: absolute;
	left: 10px;
	bottom: -50px;
}

#header .search-iconMic:hover::before {
	content: '使用語音搜尋';
	background: rgba(0, 0, 0, 0.5);
	width: 72px;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 0.75rem;
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translate(-50%);
}

#header .singIn-icon:hover::before {
	content: '設定';
	background: rgba(0, 0, 0, 0.5);
	width: 24px;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 0.75rem;
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translate(-50%);
}

#header .searchText-R {
	box-sizing: border-box;
	line-height: 36px;
	color: #000;
	font-size: 1.1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#header .search-iconMic {
	box-sizing: border-box;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	background: #f2f2f2;

	position: absolute;
	top: 50%;
	left: 66%;
	transform: translate(0, -50%);

	color: #000;
	cursor: pointer;
}

#header .search-iconMic i {
	box-sizing: border-box;
	font-size: 1.1rem;
	line-height: 36px;
	color: #111;
}

/* 右邊-登入 */

#header .singIn {
	/* box-sizing: border-box; */
	width: 90px;
	border-radius: 45px;
	border: 1px solid #eee;
	position: absolute;
	top: 50%;
	right: 1%;
	transform: translate(0, -50%);
	cursor: pointer;
	font-size: 0;
}

#header .singInText {
	color: #2f81ff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
}

#header .singInText i {
	position: relative;
	left: 17px;
	top: 2px;
	font-size: 1.1rem;
}

#header .singIn:hover {
	background-color: rgba(47, 129, 255, 0.2);
	border: 0;
}

.singIn-icon {
	width: 36px;
	height: 36px;
	/* border: 1px solid #f00; */
	position: absolute;
	top: 50%;
	right: calc(1% + 100px);
	transform: translate(0, -50%);
	text-align: center;
}

#header .singIn-icon i {
	box-sizing: border-box;
	font-size: 1.5rem;
	line-height: 36px;
	color: #111;
	cursor: pointer;
}

/* sidebar--------------------------------- */

#sidebar {
	width: 15%;
	height: calc(100% - 60px);
	position: fixed;
	margin-top: 60px;
	/* background: #f9ffa1; */
	overflow: scroll;
}

#sidebar .box {
	list-style: none;
	display: block;
	width: 80%;
	height: 50px;
	line-height: 50px;
	margin-left: 25px;
	position: relative;
	/* border: 1px solid red; */
	border-radius: 10px;
	cursor: pointer;
}

#sidebar i {
	margin-left: 5px;
	margin-right: 15px;
}

#sidebar span {
	margin-left: 5px;
	margin-right: 18px;
	display: inline-block;
}

/* 這邊可調整圖片型icon與字的距離 */
#sidebar .textAll {
	margin-left: 20px;
	display: inline-block;
	position: absolute;
	left: 28px;
}

#sidebar .imgBox {
	width: 20px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

#sidebar img {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

#sidebar input {
	display: none;
}

#sidebar a {
	color: #000;
	text-decoration: none;
	margin-left: 10px;
	font-size: 0.7rem;
}

#sidebar label:hover {
	background: #f2f2f2;
	border-radius: 10px;
}

#sidebar input:checked + label {
	background: #f2f2f2;
	border-radius: 10px;
}

#sidebar hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #f2f2f2;
}

#sidebar .singIn_box {
	width: 80%;
	height: 86px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	font-size: 0;
	position: relative;
}

#sidebar .singIn_side {
	box-sizing: border-box;
	width: 80px;
	height: 36px;
	border-radius: 45px;
	border: 1px solid #eee;
	text-align: center;
	line-height: 36px;
	margin-top: 20px;
	cursor: pointer;
	color: rgb(47, 129, 255);
	font-size: 1rem;
	position: absolute;
}

#sidebar .singIn_side i {
	position: relative;
	left: 5px;
	top: -2px;
}

#sidebar .singIn_side:hover {
	background-color: rgba(47, 129, 255, 0.2);
	border: 0;
}

/* #sidebar .singIn_side i {
	font-size: 1rem;
} */

#sidebar p {
	font-size: 0.9rem;
}

#sidebar .box_h2 {
	list-style: none;
	display: block;
	width: 80%;
	height: 25px;
	margin-left: 25px;
	border-radius: 10px;
	font-size: 1.1rem;
}

/* sidebar 頁尾 */

#sidebar .rowBox {
	list-style: none;
	display: block;
	width: 80%;
	height: 50px;
	margin-left: 25px;
	margin-bottom: 4px;
	position: relative;
	border-radius: 10px;
}

#sidebar li {
	float: left;
	color: #777;
	font-size: 0.8rem;
	cursor: pointer;
	margin-right: 0.5rem;
	line-height: 1.2rem;
}

#sidebar .footer {
	float: left;
	color: #777;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

/* content_top--------------------------------- */
#content_top {
	width: calc(100% - 15%);
	height: 55px;
	position: fixed;
	margin-top: 60px;
	margin-left: 15%;
	/* background: #86c89b; */
	/* z-index: 1; */
	text-align: center;
}

#content_top .cardBox {
	padding-left: 20px;
}

#content_top label {
	box-sizing: border-box;
	float: left;
	display: block;
	background: #f2f2f2;
	border-radius: 5px;
	padding: 10px;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 0.9rem;
	color: #000;
	cursor: pointer;
}

#content_top input {
	display: none;
}

#content_top input:checked + label {
	background: #000;
	color: #fff;
}

#content_top input:checked + a {
	color: #fff;
}

#content_top label:hover {
	background: #dbdbdb96;
}

/* content--------------------------------- */
#content {
	width: 85%;
	height: calc(100% - 115px);
	margin-left: 15%;
	position: absolute;
	top: 115px;
	/* background: #ffbcec; */
	overflow: scroll;
}

#content .cardBox02 {
	/* border: 1 solid #f00; */
	width: calc(100%-40px);
	position: absolute;
	top: 35px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
}

#content .card02 {
	width: 22.9%;
	height: 300px;
	/* border: 1px solid #f00; */
	margin-left: 15px;
	margin-bottom: 50px;
	margin-top: 10px;

	float: left;
	position: relative;
}

/* 寬度設定後，讓使用者圖片上傳時符合比例即可 */
#content .up {
	display: block;
	width: 100%;
	/* height: 69%; */
	position: relative;
	font-size: 0;

	/* background: #888; */
	/* border-radius: 10px; */
}

#content .up .timeR {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 5px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	color: #fff;
	padding: 3px;
	font-size: 0.8rem;
}

#content .up:hover .timeR {
	display: none;
}

#content .up:hover .timeL {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	bottom: 16px;
	left: 10px;
	color: #fff;
	padding: 3px;
	font-size: 0.7rem;
	font-weight: 300;
}

#content .up img {
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}

#content .up:hover img {
	border-radius: 0px;
}

#content .down {
	box-sizing: border-box;
	width: 100%;
	height: 30%;
	position: absolute;
	top: 68%;
	/* background: #eee; */
	padding-top: 10px;
}

#content .down i {
	position: absolute;
	right: 10px;
	top: 20%;
	font-size: 0;
}

#content .down:hover i {
	position: absolute;
	right: 10px;
	font-size: 1rem;
}

#content .downLeft {
	position: absolute;
	width: 40px;
	height: 40px;
	/* border: 1px solid #f00; */
}

#content .downLeft img {
	width: 100%;
	border-radius: 50%;
}

#content .downRight {
	display: block;
	position: absolute;
	height: 40px;
	left: 50px;
}

#content .text {
	padding-bottom: 0.6rem;
	padding-right: 30px;
	line-height: 1.4rem;
	cursor: pointer;
	display: block;
}

#content .text2 {
	padding-bottom: 0.4rem;
	font-size: 0.9rem;
	cursor: pointer;
	color: #777;
}

#content .text3 {
	font-size: 0.8rem;
	cursor: pointer;
	color: #777;
}

#content .card03 {
	width: 100%;
	height: 20px;
	margin-top: 30px;
	margin-bottom: 25px;
	float: left;
}

#content hr {
	border: 2px solid #e6e6e6;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 25px;
	overflow: hidden;
}

#content .card04 {
	width: 100%;
	margin-left: 15px;
	margin-bottom: 60px;
	float: left;
	position: relative;
	font-size: 0;
}

#content .imgBox {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	/* background: red; */
}

#content .imgBox img {
	height: 100%;
}

#content h1 {
	font-size: 1.5rem;

	margin-left: 35px;
	position: absolute;
}

#content .card05 {
	width: 15.2%;
	height: 520px;
	/* background-color: #111; */
	/* border: 1px solid #f00; */
	margin-right: 15px;
	/* margin-top: 35px; */
	float: left;
	position: relative;
	margin-bottom: 20px;
}

#content .card05:hover img {
	border-radius: 10px;
}

#content .down02 {
	box-sizing: border-box;
	width: 100%;
	height: 90px;
	position: absolute;
	top: 81.5%;
	padding-top: 10px;

	/* background: #eee; */
	/* border: 1px solid #f00; */
}

#content .down02 i {
	position: absolute;
	right: 10px;
	font-size: 0;
}

#content .down02:hover i {
	position: absolute;
	right: 10px;
	top: 17%;
	font-size: 1rem;
}

#content .text4 {
	padding-bottom: 0.6rem;
	padding-right: 28px;
	line-height: 1.4rem;
	cursor: pointer;
	display: block;
	font-size: 0.9rem;
}

#content .text5 {
	font-size: 0.8rem;
	cursor: pointer;
	color: #777;
}
